*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

#root, #__next {
    isolation: isolate;
}



body {
    background-color: #444444;

    display: inline-grid;
    grid-template-columns: 100vw;
    grid-template-rows: 70vh 30vh;
    grid-template-areas:
    "player"
    "bar";
}

#Player {
    grid-area: player;

    place-self: center;
    width: 100%;
    height: 100%;
}

#Player-Video {
    width: 100%;
    height: 100%;
}

#Bar {
    grid-area: bar;

    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
    ". one"
    ". two"
    ". three"
    ". ."
    ". .";
}

#Hercules1997 {
    grid-area: one;
    cursor: pointer;
}

#Hercules1997:hover {
    color: blue;
}

#Elemental2023 {
    grid-area: two;
    cursor: pointer;
}

#Elemental2023:hover {
    color:blue;
}

#MeanGirls2004 {
    grid-area: three;
    cursor: pointer;
}

#MeanGirls2004:hover {
    color: blue;
}
