*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

#root, #__next {
    isolation: isolate;
}



body {
    background-color: #444444;

    display: inline-grid;
    grid-template-columns: 75vw 25vw;
    grid-template-rows: 15vh 70vh 15vh;
    grid-template-areas:
    "header header"
    "player nav"
    "footer footer";
}

#Header {
    grid-area: header;

    width: 100%;
    height: 100%;
}

#Player {
    grid-area: player;

    place-self: center;
    width: 100%;
    height: 100%;
}

#Player-Video {
    width: 100%;
    height: 100%;
}

#Nav {
    grid-area: nav;

    width: 100%;
    height: 100%;

    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
    "search"
    "list";
}

#Nav-Search {
    grid-area: search;

    place-self: center;
    width: 90%;
    height: 40%;
    padding: 4%;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: #444444;
}

#Nav-List {
    grid-area: list;

    place-self: center;
}

.Movie-Item {
    cursor: pointer;
}

.Movie-Item:hover {
    color: navy;
    transform: scale(1.02);
}

#Footer {
    grid-area: footer;

    width: 100%;
    height: 100%;
}
